<h1>
  	{{title}}
</h1>

<div>
	<app-jumbotron></app-jumbotron>
</div>

<div class="row">
  	<div class="col-sm-12">
  		<h2>More angular component examples</h2>
  		<p>
  			The next section is an example of event and data binding example. <br/>
  			You can think at it as a menu item.
  		</p>
  	</div>
</div>

<div class="row">
  	<div class="col-sm-4">
  		<a routerLink="/event-and-data-binding">Binding</a>
  	</div>
  	<div class="col-sm-8">
  		<router-outlet></router-outlet>
  	</div>
</div>